In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,cross_decomposition,model_selection,metrics
import matplotlib.pyplot as plt
import seaborn as sns
# import xgboost as xgb
%matplotlib inline
import dateutil
from tqdm import tqdm
from sklearn import linear_model
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels import tsa
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets

In [31]:
confirmedGlobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',encoding='utf-8',na_values=None)

In [32]:
confirmedGlobal.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22,1/4/22,1/5/22,1/6/22,1/7/22,1/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,158056,158084,158107,158189,158183,158205,158245,158275,158300,158309
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,208899,210224,210224,210885,210885,212021,212021,213257,214905,214905
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,218037,218432,218818,219159,219532,219953,220415,220825,221316,221742
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,23122,23740,23740,23740,24502,24802,25289,25289,26408,26408
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,79871,81593,82398,82920,83764,84666,86636,87625,88775,89251

In [33]:
bar_graph = confirmedGlobal[['Country/Region',confirmedGlobal.columns[-1]]].groupby('Country/Region').sum()

In [34]:
bar_graph = bar_graph.reset_index()
bar_graph.columns = ['Country/Region', 'values']

In [35]:
bar_graph = bar_graph.sort_values(by='values', ascending = False)
bar_graph['Country/Region'].values.tolist()

['US',
 'India',
 'Brazil',
 'United Kingdom',
 'France',
 'Russia',
 'Turkey',
 'Germany',
 'Italy',
 'Spain',
 'Argentina',
 'Iran',
 'Colombia',
 'Indonesia',
 'Poland',
 'Mexico',
 'Ukraine',
 'South Africa',
 'Netherlands',
 'Philippines',
 'Malaysia',
 'Czechia',
 'Canada',
 'Peru',
 'Thailand',
 'Belgium',
 'Iraq',
 'Vietnam',
 'Romania',
 'Chile',
 'Japan',
 'Bangladesh',
 'Portugal',
 'Greece',
 'Israel',
 'Switzerland',
 'Sweden',
 'Slovakia',
 'Serbia',
 'Austria',
 'Pakistan',
 'Hungary',
 'Kazakhstan',
 'Jordan',
 'Morocco',
 'Cuba',
 'Australia',
 'Denmark',
 'Ireland',
 'Georgia',
 'Nepal',
 'United Arab Emirates',
 'Bulgaria',
 'Lebanon',
 'Croatia',
 'Tunisia',
 'Belarus',
 'Bolivia',
 'Korea, South',
 'Guatemala',
 'Azerbaijan',
 'Sri Lanka',
 'Costa Rica',
 'Saudi Arabia',
 'Ecuador',
 'Lithuania',
 'Burma',
 'Panama',
 'Slovenia',
 'Paraguay',
 'West Bank and Gaza',
 'Dominican Republic',
 'Venezuela',
 'Uruguay',
 'Ethiopia',
 'Norway',
 'Kuwait',
 'Mongolia',
 'Libya',
 'Egypt',
 'Honduras',
 'Moldova',
 'Armenia',
 'Kenya',
 'Oman',
 'Finland',
 'Bosnia and Herzegovina',
 'Bahrain',
 'Latvia',
 'Singapore',
 'Zambia',
 'Qatar',
 'Estonia',
 'Nigeria',
 'North Macedonia',
 'Botswana',
 'Zimbabwe',
 'Algeria',
 'Albania',
 'Mozambique',
 'Cyprus',
 'Uzbekistan',
 'Montenegro',
 'Kyrgyzstan',
 'Kosovo',
 'Afghanistan',
 'Uganda',
 'Namibia',
 'Ghana',
 'El Salvador',
 'Cambodia',
 'Rwanda',
 'Laos',
 'China',
 'Luxembourg',
 'Cameroon',
 'Jamaica',
 'Maldives',
 'Trinidad and Tobago',
 'Angola',
 'Congo (Kinshasa)',
 'Malawi',
 'Senegal',
 "Cote d'Ivoire",
 'Eswatini',
 'Malta',
 'Suriname',
 'Fiji',
 'Madagascar',
 'Syria',
 'Cabo Verde',
 'Mauritania',
 'Sudan',
 'Guyana',
 'Gabon',
 'Iceland',
 'Papua New Guinea',
 'Belize',
 'Burundi',
 'Guinea',
 'Togo',
 'Barbados',
 'Lesotho',
 'Tanzania',
 'Bahamas',
 'Seychelles',
 'Andorra',
 'Haiti',
 'Benin',
 'Somalia',
 'Mauritius',
 'Mali',
 'Congo (Brazzaville)',
 'Timor-Leste',
 'Burkina Faso',
 'Nicaragua',
 'Tajikistan',
 'Taiwan*',
 'South Sudan',
 'Brunei',
 'New Zealand',
 'Saint Lucia',
 'Equatorial Guinea',
 'Djibouti',
 'Central African Republic',
 'Gambia',
 'Yemen',
 'San Marino',
 'Eritrea',
 'Niger',
 'Grenada',
 'Comoros',
 'Sierra Leone',
 'Dominica',
 'Liberia',
 'Guinea-Bissau',
 'Liechtenstein',
 'Saint Vincent and the Grenadines',
 'Chad',
 'Monaco',
 'Antigua and Barbuda',
 'Sao Tome and Principe',
 'Saint Kitts and Nevis',
 'Bhutan',
 'Summer Olympics 2020',
 'Diamond Princess',
 'Solomon Islands',
 'Holy See',
 'MS Zaandam',
 'Palau',
 'Vanuatu',
 'Marshall Islands',
 'Samoa',
 'Kiribati',
 'Micronesia',
 'Tonga']

In [36]:
bar_graph['values'].values.tolist()

[59767221,
 35528004,
 22328252,
 14422067,
 11921925,
 10453895,
 9918695,
 7531904,
 7281297,
 7164906,
 6237525,
 6204925,
 5300032,
 4265666,
 4202090,
 4113789,
 3880371,
 3521572,
 3376251,
 2936875,
 2783331,
 2524171,
 2507028,
 2358685,
 2261039,
 2231686,
 2096806,
 1876394,
 1839825,
 1825417,
 1756209,
 1592209,
 1499976,
 1489024,
 1485591,
 1483212,
 1416650,
 1394685,
 1342646,
 1329130,
 1304058,
 1282957,
 1079671,
 1047953,
 997121,
 974687,
 972457,
 961591,
 956720,
 956032,
 831748,
 782866,
 778701,
 769400,
 758272,
 741259,
 707714,
 671832,
 664391,
 637663,
 620679,
 591231,
 584547,
 575293,
 559950,
 539771,
 531925,
 522249,
 487437,
 472673,
 471414,
 451185,
 446427,
 443436,
 443339,
 440184,
 430920,
 393470,
 392868,
 391945,
 381254,
 379901,
 345713,
 310797,
 306755,
 305522,
 297333,
 290878,
 286841,
 284802,
 281576,
 266962,
 251239,
 247775,
 232068,
 229855,
 221918,
 221742,
 214905,
 209389,
 201360,
 199972,
 187825,
 185677,
 162373,
 158309,
 152778,
 151957,
 149367,
 122234,
 120591,
 120374,
 117956,
 116468,
 112203,
 109666,
 101056,
 97668,
 96555,
 89251,
 80175,
 79713,
 78624,
 76732,
 67240,
 59823,
 57339,
 57257,
 54101,
 50482,
 49850,
 48105,
 47443,
 44245,
 43939,
 36447,
 36326,
 35802,
 34722,
 34139,
 33915,
 31499,
 30853,
 30564,
 27122,
 26968,
 26408,
 26304,
 25522,
 24261,
 24051,
 23980,
 21844,
 19855,
 19360,
 17526,
 17493,
 17302,
 16042,
 15597,
 14675,
 14654,
 14401,
 14084,
 12454,
 10792,
 10178,
 9095,
 8303,
 7961,
 7669,
 7554,
 7405,
 7299,
 6851,
 6694,
 6597,
 6247,
 6185,
 5593,
 4844,
 4735,
 4056,
 2760,
 865,
 712,
 28,
 27,
 9,
 8,
 7,
 7,
 3,
 2,
 1,
 1]

In [37]:
country_names = bar_graph['Country/Region'].values.tolist()
cases = bar_graph['values'].values.tolist()

In [61]:
bar_graph

       Country/Region    values
182                US  59767221
79              India  35528004
23             Brazil  22328252
186    United Kingdom  14422067
62             France  11921925
..                ...       ...
112  Marshall Islands         7
149             Samoa         3
91           Kiribati         2
116        Micronesia         1
178             Tonga         1

[196 rows x 2 columns]

In [39]:
# Total Cases Wordlwide
confirmedGlobal[confirmedGlobal.columns[-1]].sum()

305191603

In [40]:
data = pd.read_json("https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json")

In [41]:
data.head(1)

  code3   name   value code
0   ABW  Aruba  582.34   AW

In [42]:
data[data['name'] == 'Russia']

Empty DataFrame
Columns: [code3, name, value, code]
Index: []

In [75]:
bar_graph[bar_graph['Country/Region'] == 'Greenland']

Empty DataFrame
Columns: [Country/Region, values]
Index: []

In [ ]:
x = bar_graph[bar_graph['Country/Region'] == 'Russia'] 
x['Country/Region'] = "ROC"
# bar_graph[bar_graph['Country/Region'] == 'Russia'] 
# confirmedGlobal.head(1)
t = confirmedGlobal

# t.loc[0, 'Country/Region'] = 'hi'
# t['Country/Region']['hi'] = t['Country/Region']['hi'].replace('hello')
# t.head(1)
bar_graph

In [44]:
heat_map = []
c = 0
# for val in data:
#     if data 

rdf = data[data['name'] == "Russian Federation"]
for country in country_names:
    try :
        df = data[data['name'] == country]
        temp = {}
        temp['code3'] = list(df['code3'].values)[0]
        temp['code'] = list(df['code'].values)[0]
        temp['name'] = country
        temp['value'] = bar_graph[bar_graph['Country/Region'] == country]['values'].sum()
        # Or
        # tdf = bar_graph[bar_graph['Country/Region'] == country]
        # temp['value'] = list(tdf['values'].values)[0]
        heat_map.append(temp)
        c += 1
        # print(country)
    except:
        pass
# for country in country_names:
#     if data[data['name'] == country] is not None:
#         c += 1
print(c)

164

In [46]:
heat_map

[{'code3': 'IND', 'code': 'IN', 'name': 'India', 'value': 35528004},
 {'code3': 'BRA', 'code': 'BR', 'name': 'Brazil', 'value': 22328252},
 {'code3': 'GBR', 'code': 'GB', 'name': 'United Kingdom', 'value': 14422067},
 {'code3': 'FRA', 'code': 'FR', 'name': 'France', 'value': 11921925},
 {'code3': 'TUR', 'code': 'TR', 'name': 'Turkey', 'value': 9918695},
 {'code3': 'DEU', 'code': 'DE', 'name': 'Germany', 'value': 7531904},
 {'code3': 'ITA', 'code': 'IT', 'name': 'Italy', 'value': 7281297},
 {'code3': 'ESP', 'code': 'ES', 'name': 'Spain', 'value': 7164906},
 {'code3': 'ARG', 'code': 'AR', 'name': 'Argentina', 'value': 6237525},
 {'code3': 'COL', 'code': 'CO', 'name': 'Colombia', 'value': 5300032},
 {'code3': 'IDN', 'code': 'ID', 'name': 'Indonesia', 'value': 4265666},
 {'code3': 'POL', 'code': 'PL', 'name': 'Poland', 'value': 4202090},
 {'code3': 'MEX', 'code': 'MX', 'name': 'Mexico', 'value': 4113789},
 {'code3': 'UKR', 'code': 'UA', 'name': 'Ukraine', 'value': 3880371},
 {'code3': 'ZAF', 'code': 'ZA', 'name': 'South Africa', 'value': 3521572},
 {'code3': 'NLD', 'code': 'NL', 'name': 'Netherlands', 'value': 3376251},
 {'code3': 'PHL', 'code': 'PH', 'name': 'Philippines', 'value': 2936875},
 {'code3': 'MYS', 'code': 'MY', 'name': 'Malaysia', 'value': 2783331},
 {'code3': 'CAN', 'code': 'CA', 'name': 'Canada', 'value': 2507028},
 {'code3': 'PER', 'code': 'PE', 'name': 'Peru', 'value': 2358685},
 {'code3': 'THA', 'code': 'TH', 'name': 'Thailand', 'value': 2261039},
 {'code3': 'BEL', 'code': 'BE', 'name': 'Belgium', 'value': 2231686},
 {'code3': 'IRQ', 'code': 'IQ', 'name': 'Iraq', 'value': 2096806},
 {'code3': 'VNM', 'code': 'VN', 'name': 'Vietnam', 'value': 1876394},
 {'code3': 'ROU', 'code': 'RO', 'name': 'Romania', 'value': 1839825},
 {'code3': 'CHL', 'code': 'CL', 'name': 'Chile', 'value': 1825417},
 {'code3': 'JPN', 'code': 'JP', 'name': 'Japan', 'value': 1756209},
 {'code3': 'BGD', 'code': 'BD', 'name': 'Bangladesh', 'value': 1592209},
 {'code3': 'PRT', 'code': 'PT', 'name': 'Portugal', 'value': 1499976},
 {'code3': 'GRC', 'code': 'GR', 'name': 'Greece', 'value': 1489024},
 {'code3': 'ISR', 'code': 'IL', 'name': 'Israel', 'value': 1485591},
 {'code3': 'CHE', 'code': 'CH', 'name': 'Switzerland', 'value': 1483212},
 {'code3': 'SWE', 'code': 'SE', 'name': 'Sweden', 'value': 1416650},
 {'code3': 'SRB', 'code': 'RS', 'name': 'Serbia', 'value': 1342646},
 {'code3': 'AUT', 'code': 'AT', 'name': 'Austria', 'value': 1329130},
 {'code3': 'PAK', 'code': 'PK', 'name': 'Pakistan', 'value': 1304058},
 {'code3': 'HUN', 'code': 'HU', 'name': 'Hungary', 'value': 1282957},
 {'code3': 'KAZ', 'code': 'KZ', 'name': 'Kazakhstan', 'value': 1079671},
 {'code3': 'JOR', 'code': 'JO', 'name': 'Jordan', 'value': 1047953},
 {'code3': 'MAR', 'code': 'MA', 'name': 'Morocco', 'value': 997121},
 {'code3': 'CUB', 'code': 'CU', 'name': 'Cuba', 'value': 974687},
 {'code3': 'AUS', 'code': 'AU', 'name': 'Australia', 'value': 972457},
 {'code3': 'DNK', 'code': 'DK', 'name': 'Denmark', 'value': 961591},
 {'code3': 'IRL', 'code': 'IE', 'name': 'Ireland', 'value': 956720},
 {'code3': 'GEO', 'code': 'GE', 'name': 'Georgia', 'value': 956032},
 {'code3': 'NPL', 'code': 'NP', 'name': 'Nepal', 'value': 831748},
 {'code3': 'ARE',
  'code': 'AE',
  'name': 'United Arab Emirates',
  'value': 782866},
 {'code3': 'BGR', 'code': 'BG', 'name': 'Bulgaria', 'value': 778701},
 {'code3': 'LBN', 'code': 'LB', 'name': 'Lebanon', 'value': 769400},
 {'code3': 'HRV', 'code': 'HR', 'name': 'Croatia', 'value': 758272},
 {'code3': 'TUN', 'code': 'TN', 'name': 'Tunisia', 'value': 741259},
 {'code3': 'BLR', 'code': 'BY', 'name': 'Belarus', 'value': 707714},
 {'code3': 'BOL', 'code': 'BO', 'name': 'Bolivia', 'value': 671832},
 {'code3': 'GTM', 'code': 'GT', 'name': 'Guatemala', 'value': 637663},
 {'code3': 'AZE', 'code': 'AZ', 'name': 'Azerbaijan', 'value': 620679},
 {'code3': 'LKA', 'code': 'LK', 'name': 'Sri Lanka', 'value': 591231},
 {'code3': 'CRI', 'code': 'CR', 'name': 'Costa Rica', 'value': 584547},
 {'code3': 'SAU', 'code': 'SA', 'name': 'Saudi Arabia', 'value': 575293},
 {'code3': 'ECU', 'code': 'EC', 'name': 'Ecuador', 'value': 559950},
 {'code3': 'LTU', 'code': 'LT', 'name': 'Lithuania', 'value': 539771},
 {'code3': 'PAN', 'code': 'PA', 'name': 'Panama', 'value': 522249},
 {'code3': 'SVN', 'code': 'SI', 'name': 'Slovenia', 'value': 487437},
 {'code3': 'PRY', 'code': 'PY', 'name': 'Paraguay', 'value': 472673},
 {'code3': 'PSE', 'code': 'PS', 'name': 'West Bank and Gaza', 'value': 471414},
 {'code3': 'DOM', 'code': 'DO', 'name': 'Dominican Republic', 'value': 451185},
 {'code3': 'URY', 'code': 'UY', 'name': 'Uruguay', 'value': 443436},
 {'code3': 'ETH', 'code': 'ET', 'name': 'Ethiopia', 'value': 443339},
 {'code3': 'NOR', 'code': 'NO', 'name': 'Norway', 'value': 440184},
 {'code3': 'KWT', 'code': 'KW', 'name': 'Kuwait', 'value': 430920},
 {'code3': 'MNG', 'code': 'MN', 'name': 'Mongolia', 'value': 393470},
 {'code3': 'LBY', 'code': 'LY', 'name': 'Libya', 'value': 392868},
 {'code3': 'HND', 'code': 'HN', 'name': 'Honduras', 'value': 381254},
 {'code3': 'MDA', 'code': 'MD', 'name': 'Moldova', 'value': 379901},
 {'code3': 'ARM', 'code': 'AM', 'name': 'Armenia', 'value': 345713},
 {'code3': 'KEN', 'code': 'KE', 'name': 'Kenya', 'value': 310797},
 {'code3': 'OMN', 'code': 'OM', 'name': 'Oman', 'value': 306755},
 {'code3': 'FIN', 'code': 'FI', 'name': 'Finland', 'value': 305522},
 {'code3': 'BIH',
  'code': 'BA',
  'name': 'Bosnia and Herzegovina',
  'value': 297333},
 {'code3': 'BHR', 'code': 'BH', 'name': 'Bahrain', 'value': 290878},
 {'code3': 'LVA', 'code': 'LV', 'name': 'Latvia', 'value': 286841},
 {'code3': 'SGP', 'code': 'SG', 'name': 'Singapore', 'value': 284802},
 {'code3': 'ZMB', 'code': 'ZM', 'name': 'Zambia', 'value': 281576},
 {'code3': 'QAT', 'code': 'QA', 'name': 'Qatar', 'value': 266962},
 {'code3': 'EST', 'code': 'EE', 'name': 'Estonia', 'value': 251239},
 {'code3': 'NGA', 'code': 'NG', 'name': 'Nigeria', 'value': 247775},
 {'code3': 'BWA', 'code': 'BW', 'name': 'Botswana', 'value': 229855},
 {'code3': 'ZWE', 'code': 'ZW', 'name': 'Zimbabwe', 'value': 221918},
 {'code3': 'DZA', 'code': 'DZ', 'name': 'Algeria', 'value': 221742},
 {'code3': 'ALB', 'code': 'AL', 'name': 'Albania', 'value': 214905},
 {'code3': 'MOZ', 'code': 'MZ', 'name': 'Mozambique', 'value': 209389},
 {'code3': 'CYP', 'code': 'CY', 'name': 'Cyprus', 'value': 201360},
 {'code3': 'UZB', 'code': 'UZ', 'name': 'Uzbekistan', 'value': 199972},
 {'code3': 'MNE', 'code': 'ME', 'name': 'Montenegro', 'value': 187825},
 {'code3': 'AFG', 'code': 'AF', 'name': 'Afghanistan', 'value': 158309},
 {'code3': 'UGA', 'code': 'UG', 'name': 'Uganda', 'value': 152778},
 {'code3': 'NAM', 'code': 'NA', 'name': 'Namibia', 'value': 151957},
 {'code3': 'GHA', 'code': 'GH', 'name': 'Ghana', 'value': 149367},
 {'code3': 'SLV', 'code': 'SV', 'name': 'El Salvador', 'value': 122234},
 {'code3': 'KHM', 'code': 'KH', 'name': 'Cambodia', 'value': 120591},
 {'code3': 'RWA', 'code': 'RW', 'name': 'Rwanda', 'value': 120374},
 {'code3': 'CHN', 'code': 'CN', 'name': 'China', 'value': 116468},
 {'code3': 'LUX', 'code': 'LU', 'name': 'Luxembourg', 'value': 112203},
 {'code3': 'CMR', 'code': 'CM', 'name': 'Cameroon', 'value': 109666},
 {'code3': 'JAM', 'code': 'JM', 'name': 'Jamaica', 'value': 101056},
 {'code3': 'MDV', 'code': 'MV', 'name': 'Maldives', 'value': 97668},
 {'code3': 'TTO', 'code': 'TT', 'name': 'Trinidad and Tobago', 'value': 96555},
 {'code3': 'AGO', 'code': 'AO', 'name': 'Angola', 'value': 89251},
 {'code3': 'MWI', 'code': 'MW', 'name': 'Malawi', 'value': 79713},
 {'code3': 'SEN', 'code': 'SN', 'name': 'Senegal', 'value': 78624},
 {'code3': 'CIV', 'code': 'CI', 'name': "Cote d'Ivoire", 'value': 76732},
 {'code3': 'MLT', 'code': 'MT', 'name': 'Malta', 'value': 59823},
 {'code3': 'SUR', 'code': 'SR', 'name': 'Suriname', 'value': 57339},
 {'code3': 'FJI', 'code': 'FJ', 'name': 'Fiji', 'value': 57257},
 {'code3': 'MDG', 'code': 'MG', 'name': 'Madagascar', 'value': 54101},
 {'code3': 'CPV', 'code': 'CV', 'name': 'Cabo Verde', 'value': 49850},
 {'code3': 'MRT', 'code': 'MR', 'name': 'Mauritania', 'value': 48105},
 {'code3': 'SDN', 'code': 'SD', 'name': 'Sudan', 'value': 47443},
 {'code3': 'GUY', 'code': 'GY', 'name': 'Guyana', 'value': 44245},
 {'code3': 'GAB', 'code': 'GA', 'name': 'Gabon', 'value': 43939},
 {'code3': 'ISL', 'code': 'IS', 'name': 'Iceland', 'value': 36447},
 {'code3': 'PNG', 'code': 'PG', 'name': 'Papua New Guinea', 'value': 36326},
 {'code3': 'BLZ', 'code': 'BZ', 'name': 'Belize', 'value': 35802},
 {'code3': 'BDI', 'code': 'BI', 'name': 'Burundi', 'value': 34722},
 {'code3': 'GIN', 'code': 'GN', 'name': 'Guinea', 'value': 34139},
 {'code3': 'TGO', 'code': 'TG', 'name': 'Togo', 'value': 33915},
 {'code3': 'BRB', 'code': 'BB', 'name': 'Barbados', 'value': 31499},
 {'code3': 'LSO', 'code': 'LS', 'name': 'Lesotho', 'value': 30853},
 {'code3': 'TZA', 'code': 'TZ', 'name': 'Tanzania', 'value': 30564},
 {'code3': 'SYC', 'code': 'SC', 'name': 'Seychelles', 'value': 26968},
 {'code3': 'AND', 'code': 'AD', 'name': 'Andorra', 'value': 26408},
 {'code3': 'HTI', 'code': 'HT', 'name': 'Haiti', 'value': 26304},
 {'code3': 'BEN', 'code': 'BJ', 'name': 'Benin', 'value': 25522},
 {'code3': 'SOM', 'code': 'SO', 'name': 'Somalia', 'value': 24261},
 {'code3': 'MUS', 'code': 'MU', 'name': 'Mauritius', 'value': 24051},
 {'code3': 'MLI', 'code': 'ML', 'name': 'Mali', 'value': 23980},
 {'code3': 'TLS', 'code': 'TL', 'name': 'Timor-Leste', 'value': 19855},
 {'code3': 'BFA', 'code': 'BF', 'name': 'Burkina Faso', 'value': 19360},
 {'code3': 'NIC', 'code': 'NI', 'name': 'Nicaragua', 'value': 17526},
 {'code3': 'TJK', 'code': 'TJ', 'name': 'Tajikistan', 'value': 17493},
 {'code3': 'NZL', 'code': 'NZ', 'name': 'New Zealand', 'value': 14675},
 {'code3': 'GNQ', 'code': 'GQ', 'name': 'Equatorial Guinea', 'value': 14401},
 {'code3': 'DJI', 'code': 'DJ', 'name': 'Djibouti', 'value': 14084},
 {'code3': 'CAF',
  'code': 'CF',
  'name': 'Central African Republic',
  'value': 12454},
 {'code3': 'SMR', 'code': 'SM', 'name': 'San Marino', 'value': 9095},
 {'code3': 'NER', 'code': 'NE', 'name': 'Niger', 'value': 7961},
 {'code3': 'GRD', 'code': 'GD', 'name': 'Grenada', 'value': 7669},
 {'code3': 'COM', 'code': 'KM', 'name': 'Comoros', 'value': 7554},
 {'code3': 'SLE', 'code': 'SL', 'name': 'Sierra Leone', 'value': 7405},
 {'code3': 'DMA', 'code': 'DM', 'name': 'Dominica', 'value': 7299},
 {'code3': 'LBR', 'code': 'LR', 'name': 'Liberia', 'value': 6851},
 {'code3': 'GNB', 'code': 'GW', 'name': 'Guinea-Bissau', 'value': 6694},
 {'code3': 'LIE', 'code': 'LI', 'name': 'Liechtenstein', 'value': 6597},
 {'code3': 'TCD', 'code': 'TD', 'name': 'Chad', 'value': 6185},
 {'code3': 'MCO', 'code': 'MC', 'name': 'Monaco', 'value': 5593},
 {'code3': 'ATG', 'code': 'AG', 'name': 'Antigua and Barbuda', 'value': 4844},
 {'code3': 'STP',
  'code': 'ST',
  'name': 'Sao Tome and Principe',
  'value': 4735},
 {'code3': 'BTN', 'code': 'BT', 'name': 'Bhutan', 'value': 2760},
 {'code3': 'SLB', 'code': 'SB', 'name': 'Solomon Islands', 'value': 28},
 {'code3': 'PLW', 'code': 'PW', 'name': 'Palau', 'value': 8},
 {'code3': 'VUT', 'code': 'VU', 'name': 'Vanuatu', 'value': 7},
 {'code3': 'MHL', 'code': 'MH', 'name': 'Marshall Islands', 'value': 7},
 {'code3': 'WSM', 'code': 'WS', 'name': 'Samoa', 'value': 3},
 {'code3': 'KIR', 'code': 'KI', 'name': 'Kiribati', 'value': 2},
 {'code3': 'TON', 'code': 'TO', 'name': 'Tonga', 'value': 1}]